.card a{
    text-decoration: none;
}
.call-buttons a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.contact-btn button{
    font-family: 'Roboto';
    font-size: 14px;
}
.contact-btn p{
    margin: 0;
}
.contact-btn{
    border-bottom: 1px solid #a25d41;
    padding: 15px 0;
}
.contact-btn button:focus {
    background-color: #198754!important;
}